---
import Layout from '../../layouts/Layout.astro';
import GatoradeLogo from '../../icons/GatoradeLogo.astro'

---

<Layout title="Welcome to Astro.">
	<main class="w-full min-h-screen grid grid-cols-1 justify-items-center gap-10">

    <!-- hero -->
		<section class="h-[80vh] flex items-center">
      <h1 class="text-transparent p-4 text-6xl bg-clip-text font-black bg-gradient-to-r font-neon-uno er-fondo-verde neon-verde font-pepsi-extended">Packaging</h1>
    </section>

    <!-- Expanding Gatoradr -->
    <section class="w-4/5 text-white mb-20">
      <div class="flex items-center justify-between mb-8">
        <img src="/images/packs/gatorade-neon-logo.svg" alt="Logo Pepsi Neon" class="h-20">
        <h2 class="text-transparent p-4 text-3xl bg-clip-text bg-gradient-to-r font-neon-uno er-fondo-naranja neon-naranja">
          Expanding Gatorlit <br> Beyond México
        </h2>
      </div>
      <div>
        <div class="flex items-center gap-2">
          <img src="/images/packs/logo-cbc.webp" alt="Logo cbc" class="w-20">
          <img src="/images/banderas-redondas/peruflag.webp" alt="Bandera de Perú" class="w-10">
        </div>
        <h3 class="font-bold text-2xl my-2">
          <span class="text-orange-400">Q3'24</span> Selva plant:
        </h3>
      </div>
      <div>
        <img src="/images/packs/botellas-gatorlite-1.webp" alt="Trio de botellas Gatorlite" class="mb-8">
        <!-- <ul class="flex justify-around  mt-4 mb-8">
          <li>Strawberry-Kiwi</li>
          <li>Orange</li>
          <li>Grape</li>
        </ul> -->
        <h4 class="font-base text-md mb-8">
          <span class="text-orange-400 font-bold">Expansion:</span> Regions sourcing from Perú
        </h4>
        <div class="flex justify-evenly gap-2">
          <div class="flex flex-col items-center justify-center">
            <img src="/images/banderas-redondas/colombiaflag.webp" alt="Bandera de Colombia" class="h-10 mb-2">
            <span class="font-medium">
              Colombia
            </span>
          </div>
          <div class="flex flex-col items-center justify-center">
            <img src="/images/banderas-redondas/chileflag.webp" alt="Bandera de Colombia" class="h-10 mb-2">
            <span class="font-medium">
              Chile
            </span>
          </div>
          <div class="flex flex-col items-center justify-center">
            <img src="/images/banderas-redondas/costaricaflag.webp" alt="Bandera de Colombia" class="h-10 mb-2">
            <span class="font-medium">
              Costa Rica
            </span>
          </div>
        </div>
        <p class="text-base text-justify my-8">
          Launching "Propietary" Square bottle design in new markets and rebranding from Gatorlyte to <span class="text-orange-400">"Gatorlit"</span>
        </p>
      </div>
      <div class="flex gap-3 text-sm">
        <img src="/images/packs/botella-gatorlite-blanco.webp" alt="Botella de Gatorlit Recover" class="w-1/2">
        <div class="flex flex-col items-center justify-center gap-3">
          <div class="flex items-center gap-3">
            <img src="/images/packs/icono-dildo.webp" alt="Icono 1" class="h-16">
            <p>
              33m Finish <br>
              38.1g Existing Preform <br>
              (Pkg Proposal - Custom <br>
              33.7g prefrorm )
            </p>
          </div>
          <div class="flex items-center gap-3">
            <img src="/images/packs/icono-tapita.webp" alt="Icono 1" class="h-16">
            <p>
              Flat Plastic Closure <br>
              (without colorant)
            </p>
          </div>
          <div class="flex items-center gap-3">
            <img src="/images/packs/icono-botella.webp" alt="Icono 1" class="h-16">
            <p>
              PET-C (recyclable) <br>
              Shrink Label
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- RRB 1.5L Guatemala -->
    <section class="w-4/5 text-white mb-20">
      <div class="flex items-center justify-between mb-8">
        <img src="/images/packs/pepsi-neon-logo.svg" alt="Logo Pepsi Neon" class="h-20">
        <h2 class="text-[#394cbb] p-4 text-4xl bg-clip-text bg-gradient-to-r font-neon-uno er-fondo-azul neon-azul">
          PRB 1.5L Guatemala
        </h2>
      </div>
      <div>
        <div class="flex items-center gap-2">
          <img src="/images/packs/logo-cbc.webp" alt="Logo cbc" class="w-20">
          <img src="/images/banderas-redondas/argentinaflag.webp" alt="Bandera de Perú" class="w-10">
        </div>
        <h3 class="font-bold text-2xl my-2">
          <span class="text-[#394cbb]">Q3'24</span> Mariposa plant:
        </h3>
        <div class="mb-8">
          <h4 class="text-[#394cbb] text-lg mb-1">
            Concept and Role og Innovation:
          </h4>
          <ul class="list-disc list-inside">
            <li>
              FOCUSED ON NORORIENTE REGION: capitalize Q7.00 pricepoint.
            </li>
            <li>
              To bring a SKU that can capture
            consumers from in Home Small Groups,
            2.0L PRB KO Consumers.
            </li>
            <li>
              To maximize SOM - Expected +2.2 pp.
            </li>
            <li>
              Bring profitability with a smaller PRB.
            </li>
            
             
          </ul>
        </div>
        <h4 class="text-base mb-6">
          Launching "Universal" PRB new 1.5L format
        </h4>
        <div class="flex gap-3 text-sm">
          <img src="/images/packs/botella-pepsi-gris.webp" alt="Botella de Gatorlit Recover" class="w-1/2">
          <div class="flex flex-col items-start justify-center gap-3">
            <div class="flex items-center gap-3">
              <img src="/images/packs/icono-dildo.webp" alt="Icono 1" class="h-16">
              <p>
                28mm Finish <br>
                107.8g Existing <br>
                Preform
              </p>
            </div>
            <div class="flex items-center gap-3">
              <img src="/images/packs/icono-tapita.webp" alt="Icono 1" class="h-16">
              <p>
                Flat Plastic Closure
              </p>
            </div>
            <div class="flex items-center gap-3">
              <img src="/images/packs/icono-botella-sticker.webp" alt="Icono 1" class="h-16">
              <p>
                Paper Label
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Clear Bottle 7up -->
    <section class="w-4/5 text-white mb-20">
      <div class="flex items-center justify-between mb-10">
        <img src="/images/packs/7up-neon-logo.svg" alt="Logo 7up Neon" class="h-20">
        <h2 class="text-transparent p-4 text-4xl bg-clip-text bg-gradient-to-r font-neon-uno er-fondo-verde neon-verde">
          Clear Bottle LatAm <br> Overview
        </h2>
      </div>
      <div class="w-full border py-4 mb-8">
        <img src="/images/packs/mapa-america.svg" alt="Mapa de America" class="w-full">
      </div>
      <h3 class="text-[#00ff00cc] font-bold mb-4">
        Regions already using clear bottle
      </h3>
      <div>
        <h6 class="uppercase mb-4">North</h6>
        <div class="w-full flex flex-wrap justify- gap-y-2 gap-x-2 items-center border-b-2 pb-1 border-b-lime-400 mb-3">
          <img class="w-12" src="/images/banderas-redondas/peruflag.webp" alt="Bandera de Perú">
          <img class="w-12" src="/images/banderas-redondas/jamaicaflag.webp" alt="Bandera de Jamaica">
          <img class="w-12" src="/images/banderas-redondas/nicaraguaflag.webp" alt="Bandera de Nicaragua">
          <img class="w-12" src="/images/banderas-redondas/hondurasflag.webp" alt="Bandera de Honduras">
          <img class="w-12" src="/images/banderas-redondas/ecuadorflag.webp" alt="Bandera de Ecuador">
          <img class="w-12" src="/images/banderas-redondas/elsalvadorflag.webp" alt="Bandera de El Salvador">
        </div>

        <h6 class="uppercase my-4">Central</h6>
        <div class="w-full flex flex-wrap justify-start gap-y-2 gap-x-2 items-center border-b-2 pb-1 border-b-lime-400 mb-3">
          <img class="w-12" src="/images/banderas-redondas/colombiaflag.webp" alt="Bandera de Colombia">
          <img class="w-12" src="/images/banderas-redondas/costaricaflag.webp" alt="Bandera de Costa Rica">
          <img class="w-12" src="/images/banderas-redondas/venezuelaflag.webp" alt="Bandera de Venezuela">
          <img class="w-12" src="/images/banderas-redondas/tytflag.webp" alt="Bandera de Trinidad y Tobago">
          <img class="w-12" src="/images/banderas-redondas/chileflag.webp" alt="Bandera de Colombia">
        </div>

        <h6 class="uppercase my-4">South</h6>
        <div class="w-full flex justify-start gap-y-2 gap-x-2 items-center border-b-2 pb-1 border-b-lime-400">
          <img class="w-12" src="/images/banderas-redondas/argentinaflag.webp" alt="Bandera de Argentina">
          <img class="w-12" src="/images/banderas-redondas/uruguayflag.webp" alt="Bandera de Uruguay">
        </div>
        <div class="mt-8 text-lg">
          <h3 class="text-[#00ff00cc] font-bold mb-2">
            2025 7Up Clear Expansion
          </h3>
          <span class="block">Guatemala</span>
          <span class="block">México</span>
          <span class="block">Chile</span>
        </div>
      </div>
    </section>

    <!-- Clear Bottle Expansion -->
    <section class="w-4/5 mb-20">
      <div class="flex items-center justify-between mb-8">
        <img src="/images/packs/7up-neon-logo.svg" alt="Logo 7up Neon" class="h-20">
        <h2 class="text-transparent p-4 text-4xl bg-clip-text bg-gradient-to-r font-neon-uno er-fondo-verde neon-verde">
          Clear Bottle LatAm <br> Expansion
        </h2>
      </div>
      <div class="grid grid-cols-2 grid-flow-row gap-6 text-white">
        <div class="col-span-2">
          <div class="flex justify-start items-center mb-3 gap-2">
            <img src="/images/banderas-redondas/peruflag.webp" alt="Bandera Perú" class="h-8">
            <span>
              Perú
            </span>
          </div>
          <img src="/images/packs/7up-botella-1.webp" alt="clear bottle Perú" class="w-full">
        </div>
        <div class="">
          <div class="flex justify-start items-center mb-3 gap-2">
            <img src="/images/banderas-redondas/jamaicaflag.webp" alt="Bandera Jamaica" class="h-8">
            <span>
              Jamaica
            </span>
          </div>
          <img src="/images/packs/7up-botella-2.webp" alt="clear bottle Jamaica" class="w-full">
        </div>
        <div class="">
          <div class="flex justify-start items-center mb-3 gap-2">
            <img src="/images/banderas-redondas/hondurasflag.webp" alt="Bandera Honduras" class="h-8">
            <span>
              Honduras
            </span>
          </div>
          <img src="/images/packs/7up-botella-3.webp" alt="clear bottle Honduras" class="w-full">
        </div>
        <div class="col-span-2">
          <div class="flex justify-start items-center mb-3 gap-2">
            <img src="/images/banderas-redondas/ecuadorflag.webp" alt="Bandera Ecuador" class="h-8">
            <span>
              Ecuador
            </span>
          </div>
          <img src="/images/packs/7up-botella-4.webp" alt="clear bottle Ecuador" class="w-full">
        </div>
        <div class="">
          <div class="flex justify-start items-center mb-3 gap-2">
            <img src="/images/banderas-redondas/nicaraguaflag.webp" alt="Bandera Nicaragua" class="h-8">
            <span>
              Nicaragua
            </span>
          </div>
          <img src="/images/packs/7up-botella-5.webp" alt="clear bottle Nicaragua" class="w-full">
        </div>
        <div class="">
          <div class="flex justify-start items-center mb-3 gap-2">
            <img src="/images/banderas-redondas/elsalvadorflag.webp" alt="Bandera El Salvador" class="h-8">
            <span>
              El Salvador
            </span>
          </div>
          <img src="/images/packs/7up-botella-6.webp" alt="clear bottle El Salvador" class="w-full">
        </div>
        <div class="col-span-2">
          <div class="flex justify-start items-center mb-3 gap-2">
            <img src="/images/banderas-redondas/colombiaflag.webp" alt="Bandera Colombia" class="h-8">
            <span>
              Colombia
            </span>
          </div>
          <img src="/images/packs/7up-botella-7.webp" alt="clear bottle Colombia" class="w-full">
        </div>
        <div class="col-span-2">
          <div class="flex justify-start items-center mb-3 gap-2">
            <img src="/images/banderas-redondas/costaricaflag.webp" alt="Bandera Costa Rica" class="h-8">
            <span>
              Costa Rica
            </span>
          </div>
          <img src="/images/packs/7up-botella-8.webp" alt="clear bottle Costa Rica" class="w-full">
        </div>
        <div class="col-span-2">
          <div class="flex justify-start items-center mb-3 gap-2">
            <img src="/images/banderas-redondas/venezuelaflag.webp" alt="Bandera Venezuela" class="h-8">
            <span>
              Venezuela
            </span>
          </div>
          <img src="/images/packs/7up-botella-9.webp" alt="clear bottle Venezuela" class="w-full">
        </div>
        <div class="">
          <div class="flex justify-start items-center mb-3 gap-2">
            <img src="/images/banderas-redondas/guyanaflag.webp" alt="Bandera Guyana" class="h-8">
            <span>
              Guyana
            </span>
          </div>
          <img src="/images/packs/7up-botella-10.webp" alt="clear bottle Guyana" class="w-full">
        </div>
        <div class="">
          <div class="flex justify-start items-center mb-3 gap-2">
            <img src="/images/banderas-redondas/tytflag.webp" alt="Bandera Trinidada y Tobago" class="h-8">
            <span class="text-xs">
              Trinidada y Tobago
            </span>
          </div>
          <img src="/images/packs/7up-botella-11.webp" alt="clear bottle Trinidada y Tobago" class="w-full">
        </div>
        <div class="">
          <div class="flex justify-start items-center mb-3 gap-2">
            <img src="/images/banderas-redondas/argentinaflag.webp" alt="Bandera Argentina" class="h-8">
            <span>
              Argentina
            </span>
          </div>
          <img src="/images/packs/7up-botella-12.webp" alt="clear bottle Argentina" class="w-full">
        </div>
        <div class="">
          <div class="flex justify-start items-center mb-3 gap-2">
            <img src="/images/banderas-redondas/uruguayflag.webp" alt="Bandera Uruguay" class="h-8">
            <span>
              Uruguay
            </span>
          </div>
          <img src="/images/packs/7up-botella-13.webp" alt="clear bottle Uruguay" class="w-full">
        </div>
      </div>
    </section>

    <!-- Pepsi GRB -->
    <section class="w-4/5 mb-20">
      <div class="flex items-center justify-between mb-8">
        <img src="/images/packs/pepsi-neon-logo.svg" alt="Logo Pepsi Neon" class="h-20">
        <h2 class="text-[#394cbb] p-4 text-4xl bg-clip-text bg-gradient-to-r font-neon-uno er-fondo-azul neon-azul">
          Pepsi GRB 300ml Pilot - BRAZIL
        </h2>
      </div>
    <div>
      <h1 class="text-[#394cbb] font-pepsi-extended text-center">
        CURRENT GRB PORTFOLIO
      </h1>
    </div>
    <div class="my-8 grid grid-cols-2 grid-flow-row gap-6">
      <div class="flex justify-start items-center mb-3 gap-2">
        <img src="/images/packs/pepsi-botella-1.png" alt="clear bottle Uruguay" class="w-full">
      </div>
      <div class="flex justify-start items-center mb-3 gap-2">
        <img src="/images/packs/pepsi-botella-2.png" alt="clear bottle Uruguay" class="w-full">
      </div>
    </div>
    <div>

    </div>
    <div class="my-8 grid grid-cols-2 grid-flow-row items-center gap-6">
      <div class="flex justify-start items-center mb-3 gap-2">
        <img src="/images/packs/pepsi-botella-3.png" alt="clear bottle Uruguay" class="w-full">
      </div>
      <div>
      <h1 class="text-start text-[#394cbb] font-pepsi-extended mb-2">
        GBR PILOT FOT 2024
      </h1>
      <ul class="mb-3 text-white list-disc list-inside">
        <li>
          Existing Beer Bottle - Ambar color
        </li>
        <li>
          Availability: Existing Beer production line
        </li>
        <li>
          Flexibility: Paper label vs ACL Launch - Q4'24
        </li>
      </ul>
    </div>
    </div>

    </section>

    <!-- Powerpost -->
    <section class="w-4/5 text-white mb-20">
      <div class="flex items-center justify-between mb-6">
        <img src="/images/packs/gatorade-neon-logo.svg" alt="Logo Pepsi Neon" class="h-20">
        <h2 class="text-transparent p-4 text-4xl bg-clip-text bg-gradient-to-r font-neon-uno er-fondo-naranja neon-naranja">
          PowerPost Technology México
        </h2>
      </div>
        <img src="/images/packs/botellasbase.svg" alt="Base de Botellas" class="w-full">
        <ul class="my-8 list-disc list-inside">
         <li>
            Combines self-absorbing vacuum features with mechanical inversion to negate pressure differential allowing important weight reduction.
         </li>
         <li>
            Removes the need for  panels and provides smoother area for label application & new designs.
         </li>
         <li>
            PCR inclusion friendly technology.
         </li>
         <li>
            Avoiding positive pressure in the container, post inversion, reduces risk of consumer spillage upon opening.
         </li>
        </ul>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                      <th scope="col" class="px-6 py-3 border border-gray-300 dark:border-gray-700">Size</th>
                      <th scope="col" class="px-6 py-3 border border-gray-300 dark:border-gray-700">Current Weight</th>
                      <th scope="col" class="px-6 py-3 border border-gray-300 dark:border-gray-700">PowerPost Proposed Weight</th>
                      <th scope="col" class="px-6 py-3 border border-gray-300 dark:border-gray-700">Reduction</th>
                  </tr>
              </thead>
              <tbody>
                  <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-gray-300 dark:border-gray-700">1.0L</th>
                      <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">34.5g</td>
                      <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">29.9g</td>
                      <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">-4.6g</td>
                  </tr>
                  <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-gray-300 dark:border-gray-700">750ml</th>
                      <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">34.5g</td>
                      <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">29.9g</td>
                      <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">-4.6g</td>
                  </tr>
                  <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-gray-300 dark:border-gray-700">600ml</th>
                      <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">24.0g</td>
                      <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">20.0g</td>
                      <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">-4.0g</td>
                  </tr>
                  <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-gray-300 dark:border-gray-700">500ml</th>
                      <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">22.0g</td>
                      <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">18.0g</td>
                      <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">-4.0g</td>
                  </tr>
                  <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-gray-300 dark:border-gray-700">350ml</th>
                      <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">17.7g</td>
                      <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">15.0g</td>
                      <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">-2.7g</td>
                  </tr>
              </tbody>
          </table>
      </div>
      
      <div class="mt-4 mb-16">
        <ul class=" font-bold list-disc list-inside">
          <li>
            Launch - Q3'25
          </li>
          <li>
            Annual PET Reduction - 1519 Tons
          </li>
        </ul>
      </div>

        <img src="/images/botellas-gat-2.png" alt="Cuadro de Texto" class="w-full mt-4 mb-8">
        <img src="/images/botellas-gat-3.png" alt="Cuadro de Texto" class="w-full mb-2">
        <p class="flex justify-around mb-8 font-bold"><span>PowerStrap</span><span>PowerPost</span></p>
        <img src="/images/botellas-gat-1.png" alt="Cuadro de Texto" class="w-full mb-8">
    </section>

    <!-- lw Finish -->
    <section class="w-4/5 text-white mb-32">
      <div class="flex items-center justify-between mb-2">
        <!-- <img src="/images/packs/pepsi-neon-logo.svg" alt="Logo Pepsi Neon" class="h-20"> -->
        <h2 class="text-transparent pb-4 text-4xl bg-clip-text bg-gradient-to-r font-neon-uno er-fondo-blanco neon-blanco">
          LW Finish 1881 México
        </h2>
      </div>
      <div class="mb-8">
        <img src="/images/packs/banner-logo.webp" alt="Banner de marcas" class="mb-4">
        <img src="/images/packs/boquillabotella.svg" alt="cuadro">
        <ul class="list-disc list-inside">
          <li>
            <span class="font-bold">Launch - Q4'24</span>
          </li>
          <li>0.7 g less PET per bottle 7g|</li>
          <li>Minimum change parts cost</li>
          <li>All CSD's PET bottles</li>
          <li><span class="font-bold">Annual PET reduction of 1,432 Tons</span></li>
        </ul>
      </div>
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 border border-gray-300 dark:border-gray-700">Size</th>
                    <th scope="col" class="px-6 py-3 border border-gray-300 dark:border-gray-700">Current Weight</th>
                    <th scope="col" class="px-6 py-3 border border-gray-300 dark:border-gray-700">LW Finish 1881 Proposed Weight</th>
                    <th scope="col" class="px-6 py-3 border border-gray-300 dark:border-gray-700">Reduction</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-gray-300 dark:border-gray-700">3.0L</th>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">52.40g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">51.70g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">-0.7g</td>
                </tr>
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-gray-300 dark:border-gray-700">2.5L</th>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">49.50g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">48.80g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">-0.7g</td>
                </tr>
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-gray-300 dark:border-gray-700">2.25L</th>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">46.50g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">45.30g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">-0.7g</td>
                </tr>
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-gray-300 dark:border-gray-700">2.0L</th>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">46.00g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">41.60g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">-0.7g</td>
                </tr>
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-gray-300 dark:border-gray-700">1.75L</th>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">42.30g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">39.80g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">-0.7g</td>
                </tr>
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-gray-300 dark:border-gray-700">1.5L</th>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">40-50g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">34.70g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">-0.7g</td>
                </tr>
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-gray-300 dark:border-gray-700">1.0L</th>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">35.40g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">31.30g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">-0.7g</td>
                </tr>
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-gray-300 dark:border-gray-700">750mL</th>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">32.00g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">31.30g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">-0.7g</td>
                </tr>
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-gray-300 dark:border-gray-700">600mL</th>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">18.50g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">17.80g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">-0.7g</td>
                </tr>
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-gray-300 dark:border-gray-700">500mL</th>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">19.50g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">18.80g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">-0.7g</td>
                </tr>
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-gray-300 dark:border-gray-700">400mL</th>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">17.00g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">16.30g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">-0.7g</td>
                </tr>
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-gray-300 dark:border-gray-700">350mL</th>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">19.50g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">18.80g</td>
                    <td class="px-6 py-4 border border-gray-300 dark:border-gray-700">-0.7g</td>
                </tr>
            </tbody>
        </table>
      </div>
    </section>
	</main>
</Layout>

<style>
	
.neon-verde {
  text-shadow: 0px 0px 50px #00ff00cc; 
  animation: pulso 2s infinite alternate;
}

.neon-naranja {
  text-shadow: 0px 0px 30px #ff9100cf; 
  animation: pulso-naranja 2s infinite alternate;
}
.neon-azul {
  text-shadow: 0px 0px 30px #394cbb; 
  animation: pulso-azul 2s infinite alternate;
}

.neon-blanco {
  text-shadow: 0px 0px 30px #ffffff; 
  animation: pulso-blanco 2s infinite alternate;
}

.er-fondo{
    background-image: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExN2FheDA3ZWxwMHVod25vbzBjOXE4cDVrcXd3NGV3cTNxYjFlcGowMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3otO6NFBIAFg2vPZuM/giphy.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.er-fondo-verde{
    background-image: url('/images/gifs/bg-neon-verde.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.er-fondo-azul{
    background-image: url('/images/gifs/bg-neon-azul.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.er-fondo-blanco{
    background-image: url('/images/gifs/bg-neon-blanco.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.er-fondo-naranja{
    background-image: url('/images/gifs/bg-neon-naranja.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes pulso-naranja {
  from {
    text-shadow: 0px 0px 10px #ff9100;
  }
  to {
    text-shadow: 0px 0px 30px #ff9100;
  }
}

@keyframes pulso-azul {
  from {
    text-shadow: 0px 0px 10px #394cbb;
  }
  to {
    text-shadow: 0px 0px 30px #394cbb;
  }
}
@keyframes pulso {
  from {
    text-shadow: 0px 0px 20px rgba(0, 255, 0, 0.8);
  }
  to {
    text-shadow: 0px 0px 50px rgba(0, 255, 0, 0.8);
  }
}

@keyframes pulso-blanco {
  from {
    text-shadow: 0px 0px 20px #e8efedcc;
  }
  to {
    text-shadow: 0px 0px 50px e8efedcc;
  }
}

</style>