---
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main class="w-full h-screen flex justify-center items-center">
		<h1 class="text-transparent p-4 text-6xl bg-clip-text font-black bg-gradient-to-r  to-lime-400 from-emerald-500 neon-verde">Packaing</h1>
	</main>
</Layout>

<style>
	
.neon-verde {
  text-shadow: 0px 0px 50px rgba(0, 255, 0, 0.8); 
  animation: pulso 2s infinite alternate;
}

@keyframes pulso {
  from {
    text-shadow: 0px 0px 20px rgba(0, 255, 0, 0.8);
  }
  to {
    text-shadow: 0px 0px 50px rgba(0, 255, 0, 0.8);
  }
}

</style>