---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="w-full min-h-screen pt-20 pb-40 grid grid-template-column-1 justify-center gap-10" >
    
		<a href="/counters/gatorade">
			<img src="/images/gatorade.png" alt="Gatorade Logo" />
		</a>

		<a href="/counters/pepsi">
			<img src="/images/pepsi.png" alt="Pepsi Logo" />
		</a>

		<a href="/counters/rockstar">
			<img src="/images/rockstar.png" alt="Rockstar Logo" />
		</a>

		<a href="/counters/mix">
			<img src="/images/mix.png" alt="Mirinda Logo" />
		</a>

		<a href="/packaging/" class="text-center mt-8">
			<span class="text-transparent p-4 text-4xl bg-clip-text font-black bg-gradient-to-r er-fondo neon-verde">Packaging</span>
		</a>

  </main>
</Layout>

<style>
	
	.neon-verde {
	  text-shadow: 0px 0px 50px rgba(0, 255, 0, 0.8); 
	  animation: pulso 2s infinite alternate;
	}
	
	.er-fondo{
		background-image: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExN2FheDA3ZWxwMHVod25vbzBjOXE4cDVrcXd3NGV3cTNxYjFlcGowMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3otO6NFBIAFg2vPZuM/giphy.webp');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	@keyframes pulso {
	  from {
		text-shadow: 0px 0px 20px rgba(0, 255, 0, 0.8);
	  }
	  to {
		text-shadow: 0px 0px 50px rgba(0, 255, 0, 0.8);
	  }
	}
	
	</style>