---
// Supports weights 300-800
import '@fontsource-variable/open-sans';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		
	}

	@font-face {
		font-family: 'pepsiCompress';
		src: url('/fonts/pepsiCompress.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'pepsiExtended';
		src: url('/fonts/pepsiExtended.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	html {
		font-family: 'Open Sans Variable', sans-serif, system-ui, sans-serif;
		background-image: linear-gradient(to top, #231f20, #1f1b1c, #1a1818, #161414, #110f0f);
	}

	body{
		background-image: linear-gradient(to top, #231f20, #1f1b1c, #1a1818, #161414, #110f0f);
		background-size: cover;
		background-position: center;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.font-pepsi-compress{
		font-family: 'pepsiCompress', 'Open Sans Variable', sans-serif, system-ui, sans-serif;
	}

	.font-pepsi-extended{
		font-family: 'pepsiExtended', 'Open Sans Variable', sans-serif, system-ui, sans-serif;
	}

	
</style>
